@import "./template.scss";

.footer {
    margin-top: 80px;
    // background-color: #fff;
    padding: 15px 0 5px 0;
    text-align: center;

    p {
        font-weight: 300 !important;
    }

    .footer__slide {
        @include flex-box();
        justify-content: center;

        div{
            cursor: pointer;
            margin: 15px 10px;
        }
    }
}
