@import 'template.scss';

.about{
    padding-top: 100px;

    @include mobile{
        padding-top: 95px;
    }

    ul {
        margin: 20px 0 0 15px;
    }

    p{
        text-align: justify;
    }

    .about__content{
        padding-top: 0;

        @include mobile{
            padding-top: 70px;
        }
        
        .about__information{
            padding-top: 0;

            @include mobile{
                padding-top: 50px;
            }

           
        }
    }
}